<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<body>
  <h1>Todo List</h1>
  <div id="app">
    <p>
      <input type="text" v-model="message">
      <button @click="todo">+</button>
      <ul>
        <li v-for="(value, index) in todoLists">
          <label>
            <input type="checkbox" v-model="todoLists[index].completed" @change="check(index)" >
            <span>{{todoLists[index].title}}</span>
          </label>
        </li>
      </ul>
    </p>
    <button @click="allDelete">완료 목록 삭제</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message:'',
        todoLists:[],
        complitedLists:[],
      },
      methods: {
        todo: function () {
          if(!this.message){
            window.alert("내용을 입력해 주세요")
          } else {
            this.todoLists.push({title: this.message, completed: false});
            this.message = '';
          }
        },
        check: function (index) {
          if(this.todoLists[index].completed){
            this.complitedLists.push(index)
          } else {
            const i = this.complitedLists.indexOf(index)
            if (i > -1){
              this.complitedLists.splice(i,1)
            }
          }
        },
        allDelete: function() {

          for (let i = 0; i < this.complitedLists.length; i++) {
            const key = this.complitedLists[i];
            Vue.delete(this.todoLists, key);
          }
        }

      }
    })
  </script>
</body>
</html>
